/*--- Main Page Design ---*/
.main {
    display: flex;
    justify-content: center;
}

/*--- Box Component Design ---*/
.box {
    border: 1px solid black;
    width: 500px;
    text-align: center;
    background-color: antiquewhite;
    margin : 20px 3px;
}
.item-img {
    width: 400px;
    height: 400px;
    overflow: hidden;

}

.YOU {
    color: green;
    text-shadow: 2px 2px crimson;
}

.NPC {
    color: crimson;
    text-shadow: 2px 2px green;
}

/*--- Button Component Design ---*/
.userButton {
    margin: 5px 5px;
}
.icon {
    width: 100px;
}